In [ ]:
Q1. What is the difference between Ordinal Encoding and Label Encoding? Provide an example of when you
might choose one over the other.

In [ ]:
 Ordinal Encoding-

In [41]:
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder
pd.DataFrame({'size':['small','large','medium','small','large']




})

     size
0   small
1   large
2  medium
3   small
4   large

In [42]:
da=pd.DataFrame({'size':['small','large','medium','small','large']
                })

In [43]:
encoder=OrdinalEncoder(categories=[['small','medium','large']])

In [44]:
encoded=encoder.fit_transform(da[['size']])

In [45]:
import pandas as pd
pd.DataFrame(encoded,columns=encoder.get_feature_names_out())

   size
0   0.0
1   2.0
2   1.0
3   0.0
4   2.0

In [ ]:
Label Encoding-

In [47]:
import seaborn as sns
from sklearn.preprocessing import LabelEncoder

In [48]:
sns.load_dataset('tips')

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [49]:
da = sns.load_dataset('tips')

In [50]:
encoder=LabelEncoder()

In [51]:
encoder.fit_transform(da['day'])

array([2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 3])

In [ ]:
Q2. Explain how Target Guided Ordinal Encoding works and provide an example of when you might use it in
a machine learning project.

In [ ]:
 Target Guided Ordinal Encoding -

In [52]:
import seaborn as sns

In [60]:
sns.load_dataset('tips')

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [54]:
da = sns.load_dataset('tips')

In [61]:
da.groupby('day')['tip'].mean()

day
Thur    2.771452
Fri     2.734737
Sat     2.993103
Sun     3.255132
Name: tip, dtype: float64

In [62]:
dw=da.groupby('day')['tip'].mean()

In [64]:
da['new_tip']=da['day'].map(dw)

In [65]:
da

     total_bill   tip     sex smoker   day    time  size   new_tip
0         16.99  1.01  Female     No   Sun  Dinner     2  3.255132
1         10.34  1.66    Male     No   Sun  Dinner     3  3.255132
2         21.01  3.50    Male     No   Sun  Dinner     3  3.255132
3         23.68  3.31    Male     No   Sun  Dinner     2  3.255132
4         24.59  3.61  Female     No   Sun  Dinner     4  3.255132
..          ...   ...     ...    ...   ...     ...   ...       ...
239       29.03  5.92    Male     No   Sat  Dinner     3  2.993103
240       27.18  2.00  Female    Yes   Sat  Dinner     2  2.993103
241       22.67  2.00    Male    Yes   Sat  Dinner     2  2.993103
242       17.82  1.75    Male     No   Sat  Dinner     2  2.993103
243       18.78  3.00  Female     No  Thur  Dinner     2  2.771452

[244 rows x 8 columns]

In [ ]:
Q3. Define covariance and explain why it is important in statistical analysis. How is covariance calculated?

In [ ]:
Covariance -         
            Covariance is a statistical concept that describes the systematic relationship between two random variables, where a change in one
    variable is reflected in the other variable.

In [66]:
import seaborn as sns

In [67]:
sns.load_dataset('tips')

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [68]:
da = sns.load_dataset('tips')

In [70]:
da.corr()

/tmp/ipykernel_534/805174533.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  da.corr()

            total_bill       tip      size
total_bill    1.000000  0.675734  0.598315
tip           0.675734  1.000000  0.489299
size          0.598315  0.489299  1.000000

In [71]:
da.corr(method='pearson')

/tmp/ipykernel_534/3141906489.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  da.corr(method='pearson')

            total_bill       tip      size
total_bill    1.000000  0.675734  0.598315
tip           0.675734  1.000000  0.489299
size          0.598315  0.489299  1.000000

In [ ]:
Q4. For a dataset with the following categorical variables: Color (red, green, blue), Size (small, medium,
large), and Material (wood, metal, plastic), perform label encoding using Python's scikit-learn library.
Show your code and explain the output.

In [16]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [7]:
pd.DataFrame({"Color":["red",'green','blue',],
              'Size':['small','medium','large'],
              'Material':['wood','metal','plastic']})

   Color    Size Material
0    red   small     wood
1  green  medium    metal
2   blue   large  plastic

In [8]:
da= pd.DataFrame({"Color":["red",'green','blue',],
              'Size':['small','medium','large'],
              'Material':['wood','metal','plastic']})

In [9]:
encoder=LabelEncoder()

In [17]:
encoder.fit_transform(da[['Color']])

/opt/conda/lib/python3.10/site-packages/sklearn/preprocessing/_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([2, 1, 0])

In [18]:
encoder.fit_transform(da[['Size']])

/opt/conda/lib/python3.10/site-packages/sklearn/preprocessing/_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([2, 1, 0])

In [19]:
encoder.fit_transform(da[['Material']])

/opt/conda/lib/python3.10/site-packages/sklearn/preprocessing/_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([2, 0, 1])

In [ ]:
Q5. Calculate the covariance matrix for the following variables in a dataset: Age, Income, and Education
level. Interpret the results.

In [21]:
import pandas as pd

In [34]:
pd.DataFrame({
               'Age':[77,22,95,67,49],
             
              'Education':['B.tech','12ve','No level ','No level','No level'],
              'results':['76%','63.4%','100%','100%','100%'],
     'Income':[7700,2200,9500,6700,4900],
})

   Age  Education results  Income
0   77     B.tech     76%    7700
1   22       12ve   63.4%    2200
2   95  No level     100%    9500
3   67   No level    100%    6700
4   49   No level    100%    4900

In [36]:
da=pd.DataFrame({
               'Age':[77,22,95,67,49],
              
              'Education':['B.tech','12ve','No level ','No level','No level'],
              'Income':[7700,2200,9500,6700,4900],
})

In [37]:
da.corr()

/tmp/ipykernel_77/805174533.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  da.corr()

        Age  Income
Age     1.0     1.0
Income  1.0     1.0

In [ ]:
Q6. You are working on a machine learning project with a dataset containing several categorical
variables, including "Gender" (Male/Female), "Education Level" (High School/Bachelor's/Master's/PhD),
and "Employment Status" (Unemployed/Part-Time/Full-Time). Which encoding method would you use for
each variable, and why?

In [ ]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [ ]:
pd.DataFrame({"Gender":['Male','Female','Male','Female'],
              "Education Level":['High School','Bachelor','Master','PhD'],
              "Employment Status" :['Unemployed','Part-Time','Full-Time','Part-Time'],
              
              





})

In [ ]:
da=pd.DataFrame({"Gender":['Male','Female','Male','Female'],
              "Education Level":['High School','Bachelor','Master','PhD'],
              "Employment Status" :['Unemployed','Part-Time','Full-Time','Part-Time'],})

In [ ]:
encoder=OneHotEncoder()

In [ ]:
encoder.fit_transform(da[["Gender", "Education Level","Employment Status"]])

In [ ]:
encoded=encoder.fit_transform(da[["Gender", "Education Level","Employment Status"]])

In [ ]:
import pandas as pd
pd.DataFrame(encoded.toarray(),columns=encoder.get_feature_names_out())

In [ ]:
Q7. You are analyzing a dataset with two continuous variables, "Temperature" and "Humidity", and two
categorical variables, "Weather Condition" (Sunny/Cloudy/Rainy) and "Wind Direction" (North/South/
East/West). Calculate the covariance between each pair of variables and interpret the results.